body {
    background-color: #414141;
    color: #fcfaf1;
}

table {
    table-layout: fixed;
    font-size: 2vmin;
}

th,
td {
    word-wrap: break-word;
    color: #fcfaf1;
    font-size: 1rem;
}

i {
    color: #e6b31e;
}

.row-index {
    width: 30px;
}

#active-clients {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    margin: auto;
}

#new-client-connected {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #e6b31e;
    color: #343434;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    border-color: #cacaca;
    padding: 5px 0;
    opacity: 0;
}

#footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    color: gray;
    text-align: center;
}

#connection-error {
    text-align: center;
    display: none;
}

#not-found {
    text-align: center;
}
